    .search-box {
        width: 100%;
        height: 10vh;
        background: #060606;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    form {
        background: #fff;
        width: 500px;
        height: 40px;
        display: flex;
    }
    
    form input {
        flex: 1;
        border: none;
        outline: none;
    }
    
    form button {
        background: rgb(15, 99, 224);
        padding: 10px 50px;
        border: none;
        outline: none;
        color: #fff;
        letter-spacing: 2px;
        cursor: pointer;
    }
    
    form .fa-magnifying-glass {
        align-self: center;
        padding: 10px 20px;
        color: rgb(15, 99, 224);
    }
    
    .d3 {
        width: 100%;
        height: 90vh;
        background: #8b8181;
    }
    
    ul {
        position: absolute;
        top: 30%;
        left: 35%;
        transform: translate(-30%, -35%);
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
    
    ul li {
        list-style: none;
        margin: 0 25px;
        display: flex;
        margin-top: 45px;
    }
    
    ul li a i {
        font-size: 30px;
        color: #333;
        transition: 0.5s;
        padding-right: 15px;
    }
    
    ul li a span {
        color: #333;
        letter-spacing: 2.5;
        transition: 0.5s;
    }
    
    ul li a {
        display: flex;
        align-items: center;
        width: 210px;
        height: 80px;
        background: #fff;
        padding-left: 20px;
        position: relative;
        transition: 0.5s;
    }
    
    ul li a::before {
        content: '';
        position: absolute;
        top: 10px;
        left: -20px;
        height: 100%;
        width: 20px;
        background: #cecece;
        transition: 0.5s;
        transform: skewY(-45deg);
    }
    
    ul li a::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        width: 100%;
        background: #cecece;
        transition: 0.5s;
        transform: skewX(-45deg);
    }
    
    ul li :hover i {
        color: #fff;
    }
    
    ul li :hover span {
        color: #fff;
    }
    
    li a:hover {
        background: #15a846;
        transform: translate(15px, -15px);
        box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.);
    }
    
    ul li:hover a::after {
        background: #1c3a26;
    }
    
    ul li:hover a::before {
        background: #1c3a26;
    }